
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.logo {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: var(--color-primary);
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li a {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-text-muted);
}

.nav-links li a:hover {
    color: var(--color-text-main);
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.fa-solid .fa-bars {
    color: var(--color-text-main);
} 