<footer id="contact">
    <div class="footer-cta">
        <h2>Let's create something<br>amazing together.</h2>
        <div class="footer-contact">
            <a href="mailto:rotichwinnie@gmail.com" class="email">rotichwinnie@gmail.com</a>
            <p>+254796457210</p>
        </div>
        <div class="socials">
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>